<div class="double-padding-box dashboard">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="row">
          <div class="col-12">
            <%= render "shared/portrait", content: {
                                                    name: @user.full_name,
                                                    statut: @user.role,
                                                    photo: @user.photo_url,
                                                    link: coordinator_dashboard_path(@user.coordinator),
                                                    } %>
          </div>
          <div class="col-12">
            <div class="margin-bottom-medium">
              <%= render "shared/skills", title: "score", text: @user.score, type: "pts", total: "", color:"#2A336A" %>
              <%= render "shared/skills", title: "classement mondial", text: "48", type: "ème", total: "1300", color:"#CE1F5B" %>
              <%= render "shared/skills", title: "classement national", text: "3", type: "ème", total: "35", color:"#7CBB9F" %>
              <%= render "shared/skills", title: "succès", text: @user.own_achievements.length, type: "", total: "", color:"#E67E22" %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="col-12">
          <p class="white">Badges :</p>
          <div class="margin-bottom-medium">
            <% current_user.own_achievements.each do |achievement| %>
              <%= render "shared/badge", url: "", icon: achievement.badge, color: "#7CBB9F" %>
            <% end %>
            <% ( Achievement.all - current_user.own_achievements ).each do |achievement| %>
              <%= render "shared/badge", url: "", icon: achievement.badge, color: "#EE5F5B" %>
            <% end %>
          </div>
        </div>
        <div class="col-12">

          <p class="white">Mission en cours :</p>
          <% if @missions_booked.length == 0 %>
          <p class="yellow margin-bottom-big">Aucune mission en cours actuellement.</p>
          <% end %>
          <% @missions_booked.each do |user_mission| %>
            <%= render "shared/capsule",  content: {
                                                    title: user_mission.mission.name,
                                                    color: "#F15757",
                                                    url: mission_path(user_mission.mission),
                                                    method: :get,
                                                    subtitle: "en cours",
                                                    icon: "fas fa-spinner",
                                                    score: user_mission.mission.score,
                                                    } %>
          <% end %>



          <p class="white">Mission disponibles :</p>
          <% if @missions_todo.length == 0 %>
          <p class="yellow margin-bottom-big">Aucune mission disponibles actuellement.</p>
          <% end %>
          <% @missions_todo.each do |mission| %>
            <%= render "shared/capsule", content: {
                                                    title: mission.name,
                                                    color: "#2A336A",
                                                    url: mission_path(mission),
                                                    method: :get,
                                                    subtitle: "à faire avant 10 avril 2018",
                                                    icon: "fas fa-plus",
                                                    score: mission.score
                                                    } %>
          <% end %>


          <p class="white">Mission réalisées :</p>
          <% if @missions_booked.length == 0 %>
          <p class="yellow margin-bottom-big">Aucune mission réalisées pour l'instant.</p>
          <% end %>
          <% @missions_done.each do |user_mission| %>
            <%= render "shared/capsule", content: {
                                                    title: user_mission.mission.name,
                                                    score: user_mission.mission.score,
                                                    color: "#CE1F5B",
                                                    method: :get,
                                                    subtitle: "terminée",
                                                    icon: "fas fa-check",
                                                    } %>
          <% end %>

        </div>
      </div>
      <div class="col-md-2">
        <div class="activities">
          <p>activités :</p>
          <%= render "shared/event", date: "nov 2017 - now", poste: "Succès", subtitle: "Master of local events" %>
        </div>
        </div>
    </div>
  </div>
</div>
