<div class="double-padding-box dashboard">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="row">
          <div class="col-12">
            <%= render "shared/portrait", name: @user.first_name.capitalize + " " + @user.last_name.capitalize , statut: @user.role, photo: @user.photo_url, coordinator: @user.coordinator %>
          </div>
          <div class="col-12">
            <div class="margin-bottom-medium">
              <%= render "shared/skills", title: "score", text: @user.score, type: "pts", total: "", color:"#2A336A" %>
              <%= render "shared/skills", title: "classement mondial", text: "48", type: "ème", total: "1300", color:"#CE1F5B" %>
              <%= render "shared/skills", title: "classement national", text: "3", type: "ème", total: "35", color:"#7CBB9F" %>
              <%= render "shared/skills", title: "succès", text: @user.own_achievements.length, type: "", total: "", color:"#E67E22" %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="col-12">
          <div class="margin-bottom-medium">
            <%= render "shared/badge", url: "", icon: "fab fa-angrycreative", color: "#7CBB9F" %>
            <%= render "shared/badge", url: "", icon: "fab fa-avianex", color: "#CE1F5B" %>
            <%= render "shared/badge", url: "", icon: "fas fa-birthday-cake", color: "#2A336A" %>
            <%= render "shared/badge", url: "", icon: "fas fa-chess-knight", color: "#E67E22" %>
            <%= render "shared/badge", url: "", icon: "far fa-gem", color: "#7CBB9F" %>
          </div>
        </div>
        <div class="col-12">

          <p class="white">Mission en cours :</p>
          <% if @missions_booked.length == 0 %>
          <p class="yellow margin-bottom-big">Aucune mission en cours actuellement.</p>
          <% end %>
          <% @missions_booked.each do |mission| %>
            <%= render "shared/capsule", title: mission.name, color: "#F15757",
                                                              url: mission_path(mission),
                                                              subtitle: "en cours",
                                                              icon: "fas fa-spinner" %>
          <% end %>



          <p class="white">Mission disponibles :</p>
          <% if @missions_todo.length == 0 %>
          <p class="yellow margin-bottom-big">Aucune mission disponibles actuellement.</p>
          <% end %>
          <% @missions_todo.each do |mission| %>
            <%= render "shared/capsule", title: mission.name, color: "#2A336A",
                                                              url: mission_path(mission),
                                                              method: :get,
                                                              subtitle: "à faire avant 10 avril 2018",
                                                              icon: "fas fa-plus",
                                                              score: mission.score %>
          <% end %>


          <p class="white">Mission réalisées :</p>
          <% if @missions_booked.length == 0 %>
          <p class="yellow margin-bottom-big">Aucune mission réalisées pour l'instant.</p>
          <% end %>
          <% @missions_done.each do |mission| %>
            <%= render "shared/capsule", title: mission.name, color: "#CE1F5B", url: "", subtitle: "terminée", icon: "fas fa-check" %>
          <% end %>

        </div>
      </div>
      <div class="col-md-2">
        <div class="activities">
          <p>activités :</p>
          <%= render "shared/event", date: "nov 2017 - now", poste: "Succès", subtitle: "Master of local events" %>
        </div>
        </div>
    </div>
  </div>
</div>
