<div class="flex-parent"> <!-- for IE bug -->
  <div class="fullscreen under-navbar relative flexbox text-left" style="background-image: linear-gradient(0deg, rgba(42,51,106,0.01) 0%, rgba(42,51,106,0.01) 100%), url('http://res.cloudinary.com/doodlid/image/upload/v1522024812/co-alumni/photo-1470753937643-efeb931202a9.jpg')">

    <div class="parentheze-login">
      <%= render 'shared/sign_out_button' %>
      <h4> S'enregistrer </h4>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="login-box">
          <%= f.input :email, required: true, autofocus: true, label:"email", input_html: {value: session[:email] || "" } %>
          <%= f.input :password, required: true, label: "mot de passe" %>
          <%= f.input :password_confirmation, required: true, label: "confirmer le mot de passe" %>
          <div class="form-actions">
            <%= f.button :submit, "s'enregistrer", class:"margin-bottom-small" %>
            <p class="text-center"><%= link_to "se connecter", new_user_session_path %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
