<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
></div>

<div class="double-padding-box dashboard">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <%= render 'shared/capsule', content:     {
          url: user_dashboard(current_user),
          method: :get,
          title: current_user.full_name,
          score: current_user.score,
          photo: current_user.photo_url
        } %>
      </div>
      <div class="col-md-7 d-flex align-items-center justify-content-around">
          <div>
            <h2><b>Classement Pays</b></h2>
            <h1><b><%= current_user.str_rank %></b></h1>
          </div>
          <div>
            <h2><b>Participation Pays</b></h2>
            <h1><b><%= ( current_user.score * 100.0 / current_user.country.total_score ).to_i %>%</b></h1>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center">
        <h6>LES DERNIÈRES<br>ACTIONS :</h6>
        <ul class="list-unstyled">
          <% @user_missions.each do |user_mission| %>
            <li>
              <%= render 'shared/capsule', content:     {
                url: mission_path(user_mission.mission),
                method: :get,
                title: user_mission.name,
                score: user_mission.score,
                country_code: user_mission.code
              } %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-4 text-center">
        <h6>NOS MEILLEURS<br>COORDINATORS :</h6>
        <ul class="list-unstyled">
          <% @best_coordinators.each do |coordinator| %>
            <li>
              <%= render 'shared/capsule', content:     {
                url: coordinator_dashboard_path(coordinator),
                method: :get,
                title: coordinator.full_name,
                score: coordinator.score,
                photo: coordinator.photo_url
              } %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-4 text-center">
        <h6>NOS MEILLEURS<br>AMBASSADEURS :</h6>
        <ul class="list-unstyled">
          <% @best_ambassadors.each do |ambassador| %>
            <li>
              <%= render 'shared/capsule', content:     {
                url: ambassador_dashboard_path(ambassador),
                method: :get,
                title: ambassador.full_name,
                score: ambassador.score,
                photo: ambassador.photo_url
              } %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
