<div class="capsule">
  <h6 class="title"><%= title + " :" %></h6>
  <div class="score" style="color:<%= color %>"><%= text  %>
    <span class="exposant"><%= type %></span>
    <span class="total"><%= (total.size > 1 ? "sur " : "") + total %></span>
  </div>
</div>
