<div class="double-padding-box dashboard">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="row">
          <div class="col-12">
            <%= render "shared/portrait", content: {
                                                    name: @user.full_name,
                                                    statut: @user.role,
                                                    photo: @user.photo_url,
                                                    link: root_path,
                                                    } %>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="col-12">
          <p class="white">Coordinateurs :</p>
          <% if @coordinators == 0 %>
          <p class="yellow margin-bottom-big">Aucun coordinateur.</p>
          <% end %>
          <% @coordinators.each do |coordinator| %>
            <%= render "shared/capsule",  content: {
                                                    title: coordinator.full_name,
                                                    color: "#F15757",
                                                    url: coordinator_dashboard_path(coordinator),
                                                    method: :get,
                                                    photo: coordinator.photo_url,
                                                    subtitle: "en mission",
                                                    score: coordinator.score,
                                                    } %>
          <% end %>

          <p class="white">Mission disponibles :</p>
          <% if @missions_todo.length == 0 %>
          <p class="yellow margin-bottom-big">Aucune mission disponibles actuellement.</p>
          <% end %>
          <% @supervisor_missions.each do |mission| %>
            <%= render "shared/capsule", content: {
                                                    title: mission.name,
                                                    color: "#2A336A",
                                                    url: mission_path(mission),
                                                    method: :get,
                                                    subtitle: "à faire avant 10 avril 2018",
                                                    icon: "fas fa-plus",
                                                    score: mission.score
                                                    } %>
          <% end %>

        </div>
      </div>
      <div class="col-md-2">
        <% if current_user.role == "supervisor" %>
        <%= render "shared/button_round", content: {
                                                     icon: "fa fa-plus",
                                                     btn_link: new_supervisor_resource_path,
                                                     method: :get,
                                                     color: "#7CBB9F",
                                                     text: "Ajouter une ressource"} %>
        <%= render "shared/button_round", content: { link: "",
                                                     icon: "fa fa-plus",
                                                     btn_link: new_coordinator_mission_path,
                                                     method: :get,
                                                     color: "",
                                                     text: "Créer une mission"} %>
        <%= render "shared/button_round", content: {
                                                     icon: "fa fa-plus",
                                                     btn_link: "#",
                                                     method: :get,
                                                     color: "#7CBB9F",
                                                     text: "Inviter un coordinateur"} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
