<div class="flex-parent"> <!-- for IE bug -->
  <div class="fullscreen under-navbar relative flexbox text-left" style="background-image: linear-gradient(0deg, rgba(42,51,106,0.9) 0%, rgba(42,51,106,0.8) 100%), url('http://res.cloudinary.com/doodlid/image/upload/v1522024812/co-alumni/photo-1470753937643-efeb931202a9.jpg')">
    <div class="parentheze-login">
      <%= render 'shared/sign_out_button' %>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="login-box">
          <div class="login-fields-small">
            <h3>Connexion</h3>

            <%= f.input :email, required: false, autofocus: true, label: "email :" %>
            <%= f.input :password, required: false, label: "mot de passe :" %>
            <label class="checkbox margin-bottom-medium">
              <input value="0" type="hidden" name="user[remember_me]">
              <input type="checkbox" class="boolean optional" checked="checked" id="user_remember_me" name="user[remember_me]" value="1" />
              <label for="user_remember_me">se souvenir de moi</label>
            </label>
          </div>

          <div class="form-actions text-center">
            <%= f.button :submit, t('.sign_in'), class:"margin-bottom-small" %>
            <p><%= render "devise/shared/links" %></p>
          </div>

        </div>
      <% end %>
    </div>
  </div>
</div>
