<div class="double-padding-box ressources">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="row">
          <div class="col-12">
            <div class="ressource-description">
              <h1><%= @mission.name %></h1>
              <%= @mission.description %>
              <div class="bar-separator"></div>
              <% @mission.resources.each do |resource| %>
                <h3><%= resource.name %></h3>
                <h6><%= resource.kind.name %></h6>
                <div class="row">
                  <div class="col-8">
                    <%= resource.description %>
                  </div>
                  <div class="col-4">
                    <%= image_tag(resource.photo_url) unless resource.photo_url.nil? %>
                  </div>
                </div>
                <div class="bar-separator-inner"></div>
              <% end %>
            </div>
          </div>
          <div class="col-12">
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <h4>Mission en cours :</h4>
        <% if @user_missions_booked.empty? %>
          <p class="yellow">Aucune mission de ce type en cours.</p>
        <% else %>
          <% @user_missions_booked.each do |user_mission| %>
            <%= render "shared/capsule", content: { title: "Mission en cours",
                                                    color: "#7CBB9F",
                                                    url: mission_user_mission_path(@mission, user_mission),
                                                    method: :patch,
                                                    subtitle: "à faire avant le 10 avril 2018",
                                                    icon: "fas fa-check",
                                                    score: @mission.score } %>
            <% end %>
        <% end %>
        <h4>Commencer cette mission :</h4>
        <%= render "shared/capsule", content: { title: "Accepter cette mission",
                                                color: "#2A336A",
                                                url: mission_user_missions_path(@mission),
                                                method: :post,
                                                subtitle: "à faire avant le 10 avril 2018",
                                                icon: "fas fa-plus",
                                                score: @mission.score } %>

        <%# if mission booked %>
        <%#= render "shared/capsule", content: { title: "Annuler la mission",
                                                color: "#EE5F5B",
                                                url: "destroy mission",
                                                icon: "fas fa-minus" } %>
      </div>
      </div>
    </div>
  </div>
</div>
