<div class="double-padding-box dashboard">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="row">
          <div class="col-12">
            <%= @mission.name %>
          </div>
          <div class="col-12">
            <%= @mission.description %>
          </div>
        </div>

          <% @mission.resources.each do |resource| %>
            <%= resource.name  %>
            <%= resource.kind.name %>
            <%= resource.description %>
            <%= image_tag(resource.photo_url) unless resource.photo_url.nil? %>
          <% end %>


       <!--  liens vers User Mission -->

      <h3>Mission Status</h3>

     <!--  ongoing user_mission -->
       <%# if current_user.user_missions.where(mission: @mission).nil? %>
        <%# current_user.user_missions.where(mission: @mission).each do |user_mission| %>
          <%#= user_mission.mission.name %>
        <%# end %>
       <%# end %>




      </div>
    </div>
  </div>
</div>
